<!-- NAVBAR -->
 <nav class="flex px-5 py-6 justify-between bg-gray-50 h-20">
  <span routerLink="" class="text-3xl px-7 text-bold">COVID 19</span>
    
  <ul class="flex list-none px-5">
    <li ><a routerLink="/home"  routerLinkActive="selected-menu" class="text-gray-400 text-xl px-6">Acceuil</a></li>
    <li><a routerLink="/" routerLinkActive="selected-menu" class="text-gray-400 text-gray text-xl px-6" hidden>Symptomes</a></li>
    <li><a routerLink="/blog"  routerLinkActive="selected-menu" class="text-gray-400 text-gray text-xl px-6">Blog</a></li>
    <li><a routerLink="/Contact" routerLinkActive  #route="routerLinkActive"  class="text-gray-400 text-gray text-xl px-6" >Contact {{route.isActive?'(ok)':''}}</a></li>
  </ul>
 </nav>

<router-outlet>

</router-outlet>
